<div class="window">
    <div class="titlebar">
      <div class="buttons">
        <div class="bclose">
          <a class="closebutton" href="#"><span><strong>x</strong></span></a>
        </div>
        <div class="minimize">
          <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
        </div>
        <div class="zoom">
          <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
        </div>
      </div>
      {{ .Get 0 }}: {{ .Get 1 }}
    </div>
    <div class="terminal">
      <ul>
        {{ range split .Inner "\n" }}
        {{ $line := replace . " " "&nbsp;" }}
        <li>{{ printf "%s" $line | safeHTML }}</li>
        {{ end }}  
      </ul>
    </div>
  </div>